<style>
    .content_index { margin:0;padding:0;width:100%;}
    .content_index span { font-size: 12px;padding-right:10px; }
    .search_index { width:100%; overflow: hidden; }
    .search_index ul { list-style: none;margin:0;padding:0;  }
    .search_index ul li { height: 30px;line-height: 30px; padding:0 10px 0 0;float:left; }
    .search_index ul li input { width:150px; }
    .search_index ul li .status { width:100px; }
    .search_index ul li .type { width:100px; }
    .list_index { clear: left;width:100%;margin-top:10px; overflow: hidden; background-color: #fff;}
    .list_index dl { font-size: 12px;width:100%; margin:0;padding:0; }
    .list_index dl dt { width: 10%; height: 30px;line-height: 30px; float:left; border: 1px solid #e6e6e6; border-right:0; text-align: center;}
    .list_index .first { width:5%;}
    .list_index .last { width:14.3%; border-right:1px solid #e6e6e6;}
    .list_index dl dd { width: 10%; height: 30px;line-height: 30px; float:left; margin:0; border: 1px solid #e6e6e6; border-right:0;border-top:0;text-align: center; }
    .pages { clear: left;padding:10px 10px 0 0;float:right; font-size: 12px; }
    .pages a,.pages span { display:inline-block; padding:2px 5px; margin:0 1px; border:1px solid #f0f0f0; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }
    .pages a,.pages li { display:inline-block; list-style: none; text-decoration:none; color:#000; }
    .pages a.first,.pages a.prev,.pages a.next,.pages a.end{ margin:0; }
    .pages a:hover{ border-color:#50A8E6; }
    .pages span.current{ background:#50A8E6; color:#FFF; font-weight:700; border-color:#50A8E6; }
    .calendar { font-size: 12px;}
    ._caltable { font-size: 12px; }
    .calYear { font-size: 12px; }
    .calMonth {  font-size: 12px;}
</style>
<link rel="stylesheet" href="__PUBLIC__/Time/css/hDate.css">
<div class="content_index">
    <div class="search_index">
        <form id="form_search" action="<?php echo empty($_GET['oid']) ? U('User/index') : U('User/index',array('oid'=>$sea['oid'])) ?>" method="get">
            <ul>
                <li>
                    <span>账号</span><input type="text"  value="{$sea.phone}" placeholder="请输入账号" name="phone" id="phone"/>
                </li>
                <li>
                    <span>用户ID</span><input type="text" value="{$sea.unum}" placeholder="请输入用户ID查找..." name="unum" id="unum"/>
                </li>
                <li>
                    <span>注册时间</span>
                    <input type="text" value="{$sea.starttime}" name="starttime" id="starttime" onClick="calendar.show({ id: this })" />
                </li>
                <li>
                    <span>到</span>
                    <input type="text" value="{$sea.endtime}" name="endtime" id="endtime" onClick="calendar.show({ id: this })" />
                </li>
                <li>
                    <span>账号状态</span><select name="status" id="status" class="status">
                    <option value="0">全部</option>
                    <option value="1" <?php if($_GET['status'] == 1) { echo 'selected';}?> >正常</option>
                    <option value="2" <?php if($_GET['status'] == 2) { echo 'selected';}?> >冻结</option>
                    </select>
                </li>
                <li>
                    <span>用户级别</span><select name="otype" class="otype">
                        <option value="0">全部</option>
                        <?php foreach($type as $v) {?>
                        <option value="<?php echo $v['id']?>" <?php echo $sea['otype'] == $v['id'] ? selected : '' ?>><?php echo $v['role_name']?></option>
                        <?php }?>
                    </select>
                </li>
                <li style="width:7.6%;float:right;">
                    <a href="javascript:void(0)" onclick="javascript:$('#form_search').submit();"><span>搜索</span></a>
                    <a href="javascript:void(0)" id="reset"><span>重置</span></a>
                    <a href="{:U('User/update')}" ><span>添加</span></a>
                </li>
            </ul>
        </form>
    </div>
    <div class="list_index">
        <dl>
            <dt class="first">编号</dt>
            <dt>账号</dt>
            <dt>用户ID</dt>
            <dt>注册日期</dt>
            <dt>用户级别</dt>
            <dt>注册码</dt>
            <dt>所属上级</dt>
            <dt>下级数量</dt>
            <dt>账号状态</dt>
            <dt class="last">操作</dt>
            <div style="clear:both"></div>
            <?php foreach($ulist as $v):?>
            <dd class="first"><?php echo $v['uid']?></dd>
            <dd><a href="{:U('User/index')}?oid={$v['uid']}" title="点击查看所属下级"><?php echo $v['utel']?></a></dd>
            <dd><?php echo $v['unum']?></dd>
            <dd><?php echo date('Y-m-d',$v['utime'])?></dd>
            <dd><?php echo $v['otype']?></dd>
            <dd><?php echo $v['code']?></dd>
            <dd><?php echo $v['managername']?></dd>
            <dd><?php echo $v['lower']?></dd>
            <dd><a href="" id="click" value="<?php echo $v['uid']?>"><?php echo $v['ustatus']?></a></dd>
            <dd class="last">
                <a href="{:U('User/detail',array('uid'=>$v['uid']))}">查看详情</a> |
                <a href="#">查看订单</a> |
                <a href="{:U('User/update',array('uid'=>$v['uid']))}">修改</a>
                <!--<a href="{:U('User/delete',array('uid'=>$v['uid']))}" onclick="if(confirm('确定要删除吗?请谨慎操作！')){return true;}else{return false;}">删除</a>-->
            </dd>
            <?php endforeach;?>
        </dl>
    </div>
    <div class="pages">
        <?php echo $page;?>
    </div>
</div>
<script src="__PUBLIC__/Admin/js/jquery/jQuery-2.2.0.min.js"></script>
<script src="__PUBLIC__/Time/js/hDate.js"></script>
<script src="__PUBLIC__/Time/js/jquery.js"></script>
<script>
    $(function(){
        $('#reset').click(function(){
            $('#phone').val('');
            $('#unum').val('');
            $('#starttime').val('');
            $('#endtime').val('');
            $('#status').val('0');
        });
        $('#click').click(function(){
            var val = $(this).attr('value');
            $.ajax({
                url: "<?php echo U('User/statusChange')?>",
                type: 'GET',
                data: {'id': val },
                success: function(res){
                    var str = jQuery.parseJSON(res);
                }
            });
        });
    });
</script>

