<style>
    .content_add { width:100%; font-size: 12px;}
    .content_add ul { list-style: none;margin:0;padding:0; }
    .content_add ul li { height: 30px;line-height: 30px; padding:0 10px 0 0; border: 1px solid #00a0e9; height:30px;border-bottom:0 ;line-height: 30px;}
    .content_add ul li.last_li { border-bottom: 1px solid #00a0e9;}
    .content_add ul li span { width:10%; display: inline-block;border-right: 1px solid #00a0e9; text-align: right; padding-right:5px;}
    .content_add ul li input { width:200px; padding:3px; }
    .content_add .div_btn { padding:10px 0 0 173px;}
    .content_add .btn { width:60px;}
</style>
<div class="content_add">
    <form action="{:U(User/create)}" method="post">
        <ul>
            <li>
                <span>客户名:</span>
                <input type="text" name="username" value=""/>
            </li>
            <li>
                <span>真实姓名:</span>
                <input type="text" name="mname" value="" />
            </li>
            <li>
                <span>电话:</span>
                <input type="text" name="utel" value="{$userme['utel']}" />
            </li>
            <li>
                <span>身份证号码:</span>
                <input type="text" name="brokerid" value="{$userme['brokerid']}" />
            </li>
            <li>
                <span>所属银行:</span>
                <input type="text" name="banktype" value="{$userme['banktype']}"/>
            </li>
            <li>
                <span>银行卡开户行:</span>
                <input type="text" name="bname" value="{$userme['bname']}"/>
            </li>
            <li>
                <span>银行卡号:</span>
                <input type="text" name="bnkmber" value="{$userme['bnkmber']}"/>
            </li>
            <li>
                <span>密码:</span>
                <input type="text" value="" />
            </li>
            <li class="last_li">
                <span>确认密码:</span>
                <input type="text" value="" />
            </li>
        </ul>
        <div class="div_btn">
            <input type="submit" class="btn" value="确定" />
        </div>
    </form>
</div>
<script src="__PUBLIC__/Admin/js/jquery/jQuery-2.2.0.min.js"></script>