<style>
    .content_add { width:100%; font-size: 12px; overflow: hidden; background-color: #fff;}
    .content_add ul { list-style: none;margin:0;padding:0; }
    .content_add ul li { height: 30px;line-height: 30px; padding:0 10px 0 0; border: 1px solid #e6e6e6; border-bottom:0 ;line-height: 30px;}
    .content_add ul li.last_li { border-bottom: 1px solid #e6e6e6;}
    .content_add ul li span { width:10%; display: inline-block;border-right: 1px solid #e6e6e6; text-align: right; padding-right:5px;}
    .content_add ul li input { width:200px; padding:3px;}
    .content_add .div_btn { padding:10px 0 0 173px;}
    .content_add .btn { width:60px;}
</style>
<div class="content_add">
    <form action="{:U(User/update)}" method="post">
        <ul>
            <li><span>用户名:</span><input type="text" name="username" value="<?php echo $data['username']?>"/></li>
            <li><span>公司名称:</span><input type="text" name="comname" value="<?php echo $data['comname']?>" /></li>
            <li><span>公司地址:</span><input type="text" name="address" value="<?php echo $data['address']?>" /></li>
            <li><span>电话:</span><input type="text" name="utel" value="<?php echo $data['utel']?>" /></li>
            <li><span>密码:</span><input type="password" name="upwd" value="" /></li>
            <li class="last_li"><span>确认密码:</span><input type="password" name="reupwd" value="" /></li>
        </ul>
        <div class="div_btn">
            <input type="submit" class="btn" value="确定" />
            <input type="hidden" name="uid" value="<?php echo $data['uid']?>" />
        </div>
    </form>
</div>
<script src="__PUBLIC__/Admin/js/jquery/jQuery-2.2.0.min.js"></script>