<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="__PUBLIC__/Admin/js/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/index.css">
    <script src="__PUBLIC__/Admin/js/jquery/jQuery-2.2.0.min.js"></script>
    <script src="__PUBLIC__/Admin/js/charts/Chart.js"></script>
    <style type="text/css">
            td{ border:1px solid #ccc; background:#fff;text-align:center;}
            th{background:#fff;}

            .add{ padding:0 20px; font-weight:bload;}
    </style>
   
</head>
<body>
    <div id="areascontent">
        <div class="rows" style="margin-bottom: 0.8%; overflow: hidden;">
                <form id="form1" action="__URL__/tlist" method="get">
                <h3 style="height:40px;width: 100%">成交订单详情</h3>
                </form>
            <table class="table table-hover" style='width: 600px'>
                    <thead>
                                                
                            <tr>
                                <th>
                                    <span class="line"></span>持仓单号
                                </th>
                                <td ><?php echo $list['orderno']?> </td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="line"></span>下单商品
                                </th>
                                <td ><?php echo $list['ptitle']?> </td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="line"></span>成交数量
                                </th>
                                <td ><?php echo $list['onumber']?> </td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="line"></span>交易方向
                                </th>
                                <td ><?php if($list['ostyle']==0) echo '做多';else echo '做空';?> </td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="line"></span>支付方式
                                </th>
                                <td >
                                <?php echo $list['paymethod']?>

                                <if condition="$list['paymethod'] eq '0'">
                                <font color="#2fb44e">银联</font>
                                <elseif condition="$list['paymethod'] eq '1'"/>
                                <font color="#ed0000">微信</font>
                                <else/>
                                </if>


                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="line"></span>建仓时间
                                </th>
                                <td ><?php echo date('Y-m-d H:m:s',$list['buytime'])?> </td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="line"></span>建仓价格
                                </th>
                                <td ><?php echo $list['buyprice']?> </td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="line"></span>建仓点位
                                </th>
                                <td style="color: red"><?php echo $list['buydpzs']?></td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="line"></span>止盈点位
                                </th>
                                <td ><?php echo $list['endprofit']?> </td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="line"></span>止损点位
                                </th>
                                <td ><?php echo $list['endprofit']?> </td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="line"></span>平仓时间
                                </th>
                                <td ><?php echo date('Y-m-d H:m:s',$list['selltime'])?> </td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="line"></span>平仓类型
                                </th>
                                <td style="color: red">平仓类型 </td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="line"></span>平仓盈亏
                                </th>
                                <td ><?php echo $list['ploss']?></td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="line"></span>手续费
                                </th>
                                <td ><?php echo $list['fee']?> </td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="line"></span>会员单位手续费
                                </th>
                                <td style="color: red">会员单位手续费 </td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="line"></span>交易所手续费
                                </th>
                                <td style="color: red">交易所手续费 </td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="line"></span>客户ID
                                </th>
                                <td ><?php echo $list['uid']?> </td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="line"></span>客户姓名
                                </th>
                                <td ><?php echo $list['username']?></td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="line"></span>代理商/经纪人名称
                                </th>
                                <td ><?php echo $list['role_name']?> </td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="line"></span>会员单位ID
                                </th>
                                <td ><?php echo $list['id']?></td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="line"></span>会员单位名称
                                </th>
                                <td ><?php echo $list['role_name']?></td>
                            </tr>
                        </thead>
                        
                    </table>

            

        </div>


        <div class="rows" style="overflow: hidden;">



        </div>
    </div>
   
</body>

</html>
