<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="__PUBLIC__/Admin/js/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/index.css">



    <link rel="stylesheet" href="__PUBLIC__/Time/css/hDate.css"/>

    <script src="__PUBLIC__/Admin/js/jquery/jQuery-2.2.0.min.js"></script>
    <script src="__PUBLIC__/Time/js/hDate.js"></script>

    <style type="text/css">
            td{ border:1px solid #ccc; background:#fff;}
            th{background:#fff;}
            .add{ padding:0 20px; font-weight:bload;}
    </style>
    
</head>
<body>
    <div id="areascontent">
        <div class="rows" style="margin-bottom: 0.8%; overflow: hidden;">
                <form id="form1" action="__URL__/Orderolist" method="post" >
                <h3 style="height:40px;width: 100%">成交订单列表</h3>
                    <div class="tpsearch" >
                        订单编号：<input type="text" class="span6 search" placeholder="请输入订单编号查找..." name="orderno" id="orderno" value="{$list[sea][orderno]}"/>
                    </div>
                    <div class="tpsearch" >
                        用户名称：<input type="text"  class="span6 search" placeholder="请输入用户名称查找..." name="username" id="username" value="{$list[sea][username]}"/>
                    </div>
                 用户id：<input type="text"  class="span6 search" placeholder="请输入用户id称查找..." name="uid" id="uid"/>
                手机号：<input type="text"  class="span6 search" placeholder="请输入手机号称查找..." name="utel" id="utel"/>
                商品名：<input type="text"  class="span6 search" placeholder="请输入商品名称查找..." name="ptitle" id="ptitle"/>

                代理/经纪人:<input type="text"   class="span6 search" placeholder="待定" name="otype" id="otype"  />
                 开始时间:
                 <input id="strtime" onClick="calendar.show({ id: this })" type="text" name='strtime'  value="{$list[sea][strtime]}" />
                 结束时间:<input id="endtime" onClick="calendar.show({ id: this })" type="text" name='endtime' value="{$list[sea][endtime]}" />
                    </div>


                       
                <div class="span10 pull-left" style="margin-top: 20px;">
                    <div class="tpsearch" style="width: 25%">
                        交易方向：<select id="ostyle"  name="ostyle">
                                   <option value="">默认不选</option>
                                    <if condition="$list[sea][ostyle] eq '0' ">
                                    <option value="0" selected>做空</option>
                                    <else/>
                                    <option value="0">做空</option>
                                    </if>
                                    <if condition="$list[sea][ostyle] eq '1' ">
                                    <option value="1" selected>做多</option>
                                    <else/>
                                    <option value="1">做多</option>
                                    </if>
                                </select>
                    </div>
                              <div class="tpsearch" style="width: 25%">
                        支付方式：<select id="paymethod"  name="paymethod">
                                    <option value="">默认不选</option>
                                    <if condition="$list[sea][paymethod] eq '0'">
                                    <option value='0' selected>银联</option>
                                    <else/>
                                    <option value='0'>银联</option>
                                    </if>
                                    <if condition="$list[sea][paymethod] eq '1'">                                    
                                    <option value='1' selected>微信</option>
                                    <else/>
                                    <option value='1'> 微信</option>
                                    </if>
                                </select>
                    </div>

                </div>
                <div class="span10 pull-left" style="margin-top: 20px;">
                    <button type="submit">查找</button>
                    <input type="reset" name="button2" value="重置">
                </div>
                </form>
            <table class="table table-hover">
                    <thead>
                        
                            <tr>
                                <th>
                                    <span class="line"></span>结算日期
                                </th>
                                <th>
                                    <span class="line"></span>用户id
                                </th>
                                <th>
                                    <span class="line"></span>用户姓名
                                </th>
                
                                <th>
                                    <span class="line"></span>经纪人/代理商名称
                                </th>
                                <th>
                                    <span class="line"></span>仓单号
                                </th>
                                <th>
                                    <span class="line"></span>商品名
                                </th>
                                <th>
                                    <span class="line"></span>成交数量
                                </th>
                                <th>
                                    <span class="line"></span>支付方式
                                </th>
                
                                <th>
                                    <span class="line"></span>交易方向
                                </th>
                                <th>
                                    <span class="line"></span>建仓时间
                                </th>
                                <th>
                                    <span class="line"></span>建仓价
                                </th>
                
                                <th>
                                    <span class="line"></span>建仓点位
                                </th>
                                <th>
                                    <span class="line"></span>平仓点位
                                </th>
                                <th>
                                    <span class="line"></span>平仓时间
                                </th>
                                <th>
                                    <span class="line"></span>平仓类型
                                </th>
                                <th>
                                    <span class="line"></span>平仓盈亏
                                </th>
                                <th>
                                    <span class="line"></span>手续费
                                </th>
                
                                <th>
                                    <span class="line"></span>操作
                                </th>
                                
                            </tr>
                        </thead>
                        
                        
                        <tbody>
                        
                       <?php foreach($list as $k=>$v){
                            if($k=='page'||$K=='sea'){continue;}
                       ?>
                        <tr class="first">
                            <td>
                               <?php echo $v['selltime']?> 
                            </td>
                            <td align="center">
                            <?php echo $v['uid']?>
                            </td>
                            <td align="center">
                               <?php echo $v['username']?>
                            </td>  
                            <td align="center" style="color: red">
                               
                            </td>  
                             
                            <td align="center">
                               <?php echo $v['orderno']?>
                            </td> 
                            <td align="center">
                               <?php echo $v['ptitle']?>
                            </td>
                            <td align="center">
                               <?php echo $v['onumber']?>
                            </td>
                            <td align="center">
                                <if condition="$v['paymethod'] eq '0'">
                                <font color="#2fb44e">银联</font>
                                <elseif condition="$v['paymethod'] eq '1'"/>
                                <font color="#ed0000">微信</font>
                                <else/>
                                </if>
                            </td>
                            <td align="center">
                               <if condition="$v['ostyle'] eq '0'">
                                <font color="#2fb44e">做空</font>
                                <elseif condition="$v['ostyle'] eq '1'"/>
                                <font color="#ed0000">做多</font>
                                <else/>
                                </if>
                            </td>                          
                            <td align="center">
                               <?php echo $v['buytime']?>
                            </td>
                            <td align="center">
                               <?php echo $v['buyprice']?>
                            </td>
                            <td align="center" style="color: red">
                              <?php echo $v['buydpzs']?>
                            </td>
                            <td align="center" style="color: red">
                               <?php echo $v['selldpzs']?>
                            </td>
                            <td align="center">
                               <?php echo $v['selltime']?>
                            </td>
                            <td align="center" style="color: red">
                               
                            </td>
                            <td align="center">
                               <?php echo $v['ploss']?>
                            </td>
                            <td align="center">
                               <?php echo $v['fee']?>
                            </td>
                            <td align="center">
                                <a href="<?php echo U('Order/odetails',array('oid'=>$v['oid']))?>">查看</a>
                                
                                    
                                 
                            </td>
                        </tr>
                        <?php } ?>
                        <tr>
                             <td colspan="18"> <?php  echo $list['page']?></td>
                        </tr>
           
                        </tbody>
                    </table>

            

        </div>


    </div>
   
</body>
</html>
